[Service]
Environment="DOCKER_OPTS={% if docker_options is defined %}{{ docker_options }}{% endif %} --log-opt max-size=100m --iptables={% if kube_network_plugin == 'flannel' %}true{% else %}false{% endif %}"
